---
import RecipePostList from '@components/RecipePostList.svelte';
import Layout from '@layouts/Layout.astro';
import type { MarkdownFrontmatter } from '@layouts/MarkdownFrontmatter';

const md = await Astro.glob<MarkdownFrontmatter>('../pages/recettes/*.md');
const getTime = (val: string | number | Date) => new Date(val).getTime();

md.sort((a, b) => getTime(b.frontmatter.date) - getTime(a.frontmatter.date));
---

<Layout title="Recettes trouduites">
  <main>
    <h1>Recettes trouduites</h1>

    <RecipePostList posts={md} />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 70ch;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
