---
import Layout from '../layouts/Layout.astro';
import type { MarkdownFrontmatter } from '../layouts/MarkdownFrontmatter';

const md = await Astro.glob<MarkdownFrontmatter>('../pages/recettes/*.md');
---

<Layout title="Recettes trouduites">
  <main>
    <h1>Recettes trouduites</h1>

    <ul>
      {
        md.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
