---
import type { MarkdownInstance } from 'astro';
import Layout from './Layout.astro';
import type { MarkdownFrontmatter } from './MarkdownFrontmatter';

export interface Props extends MarkdownInstance<MarkdownFrontmatter> {
  frontmatter: MarkdownFrontmatter;
}

const { frontmatter } = Astro.props;

const hasAttribution = frontmatter.sourceUrl && frontmatter.sourceText;
---

<Layout title={frontmatter.title}>
  <div class="markdown-container">
    <nav>
      <a href="/">&#8592; Liste</a>
    </nav>

    <main>
      <h1>{frontmatter.title}</h1>

      {
        hasAttribution && (
          <a href={frontmatter.sourceUrl}>{frontmatter.sourceText}</a>
        )
      }

      <slot />
    </main>
  </div>
</Layout>

<style>
  .markdown-container {
    margin: auto;
    padding: 1.5rem;
    max-width: 80ch;
  }

  .markdown-container :global(li):not(:last-child) {
    padding-bottom: 1rem;
  }
</style>
